.mobile-results-link{
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.4rem var(--dropShadowInactive);
  background-color: var(--background);
  transition: 
    background-color var(--bcTransitionDuration) var(--bcTransitionEase),
    transform var(--tsTransitionDuration) var(--tsTransitionEase),
    box-shadow var(--bsTransitionDuration) var(--bsTransitionEase);
}
.mobile-results-link:hover{
  background-color: var(--backgroundActive);
  transform: scale(0.96);
  box-shadow: 0 0 0.2rem var(--dropShadowActive);
  cursor: pointer;
}
.mobile-results-link svg{
  width: 2.6rem;
  height: auto;
  color: var(--secondary);
  transition: color var(--cTransitionDuration) var(--cTransitionEase);
}
.mobile-results-link.is-active{
  background-color: var(--backgroundActive);
  transform: scale(0.96);
  box-shadow: 0 0 0.2rem var(--dropShadowActive);
  cursor: pointer;
}