.contact-link{
  display: flex;
  align-items: center;
  font-size: var(--buttonFontSize);
  box-shadow: 0 0 0.4rem var(--dropShadowInactive);
  color: var(--secondary);
  background-color: var(--background);
  border: none;
  height: 4rem;
  padding-inline: 1.3rem;
  text-decoration: none;
  transition: 
    background-color var(--bcTransitionDuration) var(--bcTransitionEase),
    transform var(--tsTransitionDuration) var(--tsTransitionEase),
    box-shadow var(--tsTransitionDuration) var(--tsTransitionEase),
    color var(--cTransitionDuration) var(--cTransitionEase);
}
.contact-link:hover{
  background-color: var(--backgroundActive);
  transform: scale(0.96);
  box-shadow: 0 0 0.2rem var(--dropShadowActive);
}